 <CodeSnippet Format="1.0.0">
        <Header>
            <Title>Arrange Act Assert</Title>
            <Author>Lukasz Wojcik</Author>
            <Shortcut>aaa</Shortcut>
        </Header>
        <Snippet>
            <Code Language="CSharp">
                // Arrange

                // Act

                // Assert
            </Code>
        </Snippet>
    </CodeSnippet>