 <CodeSnippet Format="1.0.0">
        <Header>
            <Title>Fact</Title>
            <Author>Lukasz Wojcik</Author>
            <Shortcut>fact</Shortcut>
        </Header>
        <Snippet>
        <Declarations>
            <Literal>
            <ID>Name</ID>
            <ToolTip>Name</ToolTip>
            <Default>Handle</Default>
            </Literal>
        </Declarations>
            <Code Language="CSharp">
                [Fact]
                public async Task $Name$()
                {
                    // Arrange

                    // Act

                    // Assert
                }
            </Code>
        </Snippet>
    </CodeSnippet>